/* Global styles
   ========================================================================== */

html {
    font-size: 100%;
    min-height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    @include antialias;
    text-rendering: optimizeLegibility;
    font-family: $font-regular;
    overflow-x: hidden;
}
