/* Settings
   ========================================================================== */

/**
 * Typography
 */
$font-regular: 'Helvetica', 'Arial', sans-serif;
//$font-special: "Raleway", Helvetica, Arial, sans-serif;


/**
 * Colors
 */

// Brand colors
    $color-1-normal: #1bbc9b;

// Box colors
    $color-box-white: #fff;
    $color-box-dark: #2c2f38;

// Line colors
    $color-line-light: #dbdbdb;

// Text colors
    $color-font-black: #212121;
    $color-font-gray-medium: #999;
    $color-font-gray-light: #b2b2b2;
    $color-font-white: #ffffff;