/* Transitions
   ========================================================================== */

/**
 * REGULAR
 * all 150ms ease-out
 */
.toggle,
.textfitButton,
.btn {
    @include transition(all 0.15s ease-out 0s);
}

/**
 * EXPO
 * all 600ms ease-out
 */
.someElement {
    @include transition(all 0.6s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s);
}

/**
 * EXPO
 * all 600ms ease-in
 */
.someElement {
    @include transition(all 0.6s cubic-bezier(0.950, 0.050, 0.795, 0.035) 0s);
}

/**
 * EXPO
 * all 600ms ease-in-out
 */
.someElement {
    @include transition(all 0.6s cubic-bezier(1.000, 0.000, 0.000, 1.000) 0s);
}

/**
 * ROTATION ANIMATION
 */

@-webkit-keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.prelogo {
    -webkit-animation: rotating 3s linear infinite;
    -moz-animation: rotating 3s linear infinite;
    -ms-animation: rotating 3s linear infinite;
    -o-animation: rotating 3s linear infinite;
    animation: rotating 3s linear infinite;
}