/* BB Accordion styles
   ========================================================================== */

.plugin--explanation {
    margin: 40px 0;
    padding: 10px 0 0;
    border-top: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.explanation-container {
    width: 92%;
    margin: 0 auto;
    max-width: 600px;
}