/* Form styles
   ========================================================================== */

/**
 * Demo Stuff - can be removed
 */

.formDemo {
    position: relative;
    width: 640px;
    margin: 1rem 0 0 1rem;
    padding-top: 2rem;
    font-family: sans-serif;
    
    &_button {
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid #dbdbdb;
        padding: 4px;
        font-size: 10px;
        color: #dbdbdb;
        border-radius: 3px;
    }
}


/**
 * Settings
 */

// Colors
$_form-color-label-text:            #212121;
$_form-color-input-border:          #dbdbdb;
$_form-color-input-text:            #646464;
$_form-color-validation-text:       #da4453;
$_form-color-input-focus:           deepskyblue;
$_form-color-input-placeholder:     #999;

// Box Inputs
$_form-input-box-padding-h:         10px;
$_form-input-box-padding-v:         12px;
$_form-input-box-border-thickness:  1px;
$_form-input-box-border-radius:     4px;


/**
 * SVG Icons
 */

// Arrow :: 10x6 artboard :: color #aaaaaa
$_dropdown-arrow: url("data:image/svg+xml, %3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Aa%3D%22http%3A//ns.adobe.com/AdobeSVGViewerExtensions/3.0/%22%0A%09%20x%3D%220px%22%20y%3D%220px%22%20width%3D%229.7px%22%20height%3D%226px%22%20viewBox%3D%220%200%209.7%206%22%20enable-background%3D%22new%200%200%209.7%206%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cdefs%3E%0A%3C/defs%3E%0A%3Cpath%20fill%3D%22 %23aaaaaa %22%20d%3D%22M9.4%2C2L5.7%2C5.7C5.2%2C6.1%2C4.5%2C6.1%2C4%2C5.7L0.3%2C2c-0.7-0.7-0.2-2%2C0.8-2l7.4%2C0C9.6%2C0%2C10.1%2C1.2%2C9.4%2C2z%22/%3E%0A%3C/svg%3E%0A");


/**
 * General Styles
 */

.form {
    &_grid {  
        padding-bottom: 2rem;
        lost-utility: clearfix;
        
        &_1-2 {
            lost-column: 1/2 2 2%;
        }
    }
}

.formInput {
    
    &_container {
        position: relative;
        
        &\--checkRadio {
            lost-utility: clearfix;
            // Extra margin to match input height :: Better vertical rythm
            margin: 10px 0;
        }
    }
}


/**
 * Basic Box Input
 * (text, textarea, select, etc.)
 */

.formInput_box {
    box-sizing: border-box;
    padding: $_form-input-box-padding-v $_form-input-box-padding-h;
    border: $_form-input-box-border-thickness solid $_form-color-input-border;
    border-radius: $_form-input-box-border-radius;
    color: $_form-color-input-text;
    
    @include input-placeholder {
        color: $_form-color-input-placeholder;
    }
    
    &:focus {
        box-shadow: inset 0 0 8px 1px rgba($_form-color-input-focus, .2);
    }
}

.formInput_textarea {
    height: 140px;
    resize: vertical;
}

.formInput_select {
    position: relative;
    background-image: $_dropdown-arrow;
    background-position: right 12px center;
    background-repeat: no-repeat;
}


/**
 * Checkboxes and Radio Buttons
 */

$_checkradio-color-border: $_form-color-input-border;
$_checkradio-color-active: $_form-color-input-text;

.formInput_checkRadio {
    lost-utility: clearfix;
    
    &:not(.last) {
        margin-bottom: .5em;
    }
    
    label {
        position: relative;
        display: block;
        float: left;
        cursor: pointer;
    }
    
    input {
        @include visually-hidden;
    }
    
    .inputReplacer {
        position: relative;
        display: inline-block;
        line-height: 24px;
        padding-left: 34px;
        color: $_form-color-label-text;
    }
}

// sass-lint:disable nesting-depth

// Checkbox Specific
.formInput_checkbox {
    
    input {
        &:checked + .inputReplacer i {
            border-color: $_checkradio-color-active;
            
            &::before,
            &::after {
                opacity: 1;
            }
            
            &::before {
                height: 7px;
                transition: height .1s ease-out;
            }
            
            &::after {
                height: 17px;
                transition: height .2s ease-in .05s;
            }
        }
        
        &:focus + .inputReplacer i {
            box-shadow: 0 0 8px 1px rgba($_form-color-input-focus, .3);
        }
    }
    
    .inputReplacer {
        i {
            position: absolute;
            display: block;
            box-sizing: border-box;
            left: 0;
            top: 50%;
            width: 24px;
            height: 24px;
            margin-top: -12px;
            border: 1px solid $_checkradio-color-border;
            
            &::before,
            &::after {
                @include pseudo;
                width: 4px;
                background-color: $_checkradio-color-active;
                transform-origin: left top;
                opacity: 0;
                transition: height 0s linear .15s, 
                            opacity .15s ease-out;
            }
            
            &::before {
                height: 0;
                left: 1.5px;
                top: 12px;
                transform: rotate(-45deg);
            }
            
            &::after {
                height: 0;
                left: 8.5px;
                top: 19px;
                transform: rotate(-135deg);
            }
        }
    }
}

// Radio Specific
.formInput_radio {
    input {
        &:checked + .inputReplacer {
            &::before {
                border-color: $_checkradio-color-active;
            }

            &::after { 
                transform: scale(1);
                opacity: 1;
                transition: transform .15s ease-out, opacity 0s;
            }
        }
        
        &:focus + .inputReplacer {
            &::before {
                box-shadow: 0 0 8px 1px rgba($_form-color-input-focus, .3);
            }
        }
    }
    
    .inputReplacer {
        &::before,
        &::after {
            box-sizing: border-box;
            border-radius: 50%;
            @include pseudo;
        }
        
        &::before {
            left: 0;
            top: 50%;
            width: 24px;
            height: 24px;
            margin-top: -12px;
            border: 1px solid $_checkradio-color-border;
        }
        
        &::after {
            background-color: $_checkradio-color-active;
            height: 14px;
            width: 14px;
            left: 5px;
            top: 50%;
            margin-top: -7px;
            transform: scale(.1);
            opacity: 0;
            transition: transform .15s ease-out, opacity 0s linear .15s;
        }
    }
}

// sass-lint:enable nesting-depth

// Variant :: Side-by-side
.formInput_checkRadio--sideBySide {
    float: left;
    
    &:not(.last) {
        margin-bottom: 0;
        margin-right: 24px;
    }
}


/**
 * Label
 */

.formInput_label {
    display: inline-block;
    padding-bottom: .25rem;
    color: $_form-color-label-text;
}


/**
 * Validation
 */

.formInput_validation {
    position: absolute;
    display: none;
    left: 0;
    bottom: -1.2em;
    
    p {
        font-size: 12px;
        line-height: 1.2em;
        color: $_form-color-validation-text;
    }
}


/**
 * Variant :: Label & Input side-by-side
 */

.formInput--sideBySide {
    lost-utility: clearfix;
    
    .formInput_label {
        display: block;
        lost-column: 1/4 4 2%;
        padding-top: ($_form-input-box-padding-v + $_form-input-box-border-thickness);
        padding-bottom: 0;
    }
    .formInput_container {
        lost-column: 3/4 4 2%;
    }
}


/**
 * Variant :: Speech bubble validation messages
 */

$_form-variant-bubble-color: #fff;
$_form-variant-bubble-bgrcolor: $_form-color-validation-text;

.formInput--validationBubble {
    .formInput_validation {
        left: auto;
        bottom: auto;
        right: 0;
        top: -26px;
        background-color: $_form-variant-bubble-bgrcolor;
        padding: 3px 8px;
        border-radius: 3px;
        
        &::before {
            top: 22px;
            right: 10px;
            
            @include css-triangle($_form-variant-bubble-bgrcolor, down);
        }
        
        p {
            color: $_form-variant-bubble-color;
        }
    }
    
    .formInput_container--checkRadio {
        .formInput_validation {
            left: 0;
            right: auto;
            top: -27px;
            
            &::before {
                left: 6px;
                right: auto;
            }
        }
    }
}
